.skill-share-inner .content li a {
  color: var(--color-primary) !important;
  margin-left: 10px;
  text-transform: uppercase;
}

.rn-portfolio .inner .thumbnail {
  position: relative;
}

.owner {
  /* position: absolute;
  left: 10px;
  bottom: -10px; */
}



.rn-portfolio .inner .content p span {
  color: var(--color-primary);
}

.navs ul li {
  list-style: none;
  padding: 5px 15px;
}

.navs ul a[aria-current] {
  border-top: 1px solid #888;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  border-radius: 10px 10px 0px 0px;
}



.white-version .owner img {
  border: 5px solid #c3c3c3;
}

.owner img {
  border: 5px solid #1d1e24;
  width: 35% !important;
  margin: 0 auto;
  z-index: 55;

}

.rn-portfolio::before:hover,
.rn-blog::before:hover {
  opacity: 1;
}


/*  */

.form-wrap {
  background: rgba(255, 255, 255, 1);
  width: 100%;

  margin: 0 auto;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.form-wrap:before {
  content: "";
  width: 90%;
  height: calc(100% + 90px);
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  top: -30px;
  background: #00bcd9;
  z-index: -1;
  opacity: 0.8;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}