.skill-share-inner .content li a {
  color: var(--color-primary) !important;
  margin-left: 10px;
  text-transform: uppercase;
}

.rn-portfolio .inner .thumbnail {
  position: relative;
}

.owner {
  /* position: absolute;
  left: 10px;
  bottom: -10px; */
}



.rn-portfolio .inner .content p span {
  color: var(--color-primary);
}

.navs ul li {
  list-style: none;
  padding: 5px 15px;
}

.navs ul a[aria-current] {
  border-top: 1px solid #888;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  border-radius: 10px 10px 0px 0px;
}



.white-version .owner img {
  border: 5px solid #c3c3c3;
}

.owner img {
  border: 5px solid #1d1e24;
  width: 35% !important;
  margin: 0 auto;
  z-index: 55;

}

.rn-portfolio::before:hover,
.rn-blog::before:hover {
  opacity: 1;
}


/*  */

.form-wrap {
  background: rgba(255, 255, 255, 1);
  width: 100%;

  margin: 0 auto;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.form-wrap:before {
  content: "";
  width: 90%;
  height: calc(100% + 60px);
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  top: -30px;
  background: #00bcd9;
  z-index: -1;
  opacity: 0.8;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.login-with-google-btn {
  text-decoration: none;
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 4px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: #4889f4;
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 15px;
  border: 1px solid #d8d8d8;
  width: 250px;
}

.login-with-google-btn .img {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-repeat: no-repeat;
  border-radius: 3px;
  width: 40px;
  height: 40px;
  background-size: 30px;
  padding: 3px;
  background-position: center;
  background-color: #ffffff;
}

.login-with-google-btn:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}

.login-with-google-btn:active {
  background-color: #eeeeee;
}

.login-with-google-btn:focus {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25), 0 0 0 3px #c8dafc;
}

.badge-success {
  color: #fff;
  background-color: #28a745;
}

.badge-warning {
  color: #212529;
  background-color: #ffc107;

  .badge-danger {
    color: #fff;
    background-color: #dc3545;
  }
}

.badge-primary {
  color: #fff;
  background-color: #007bff;
}

.badge-secondary {
  color: #fff;
  background-color: #6c757d;
}

.badge-info {
  color: #fff;
  background-color: #17a2b8;
}

.badge-dark {
  color: #fff;
  background-color: #343a40;
}

.badge-light {
  color: #212529;
  background-color: #f8f9fa;
}

.react-datepicker-popper {
  z-index: 99 !important;
}

.react-datepicker {
  font-size: 1.3rem !important;
}

.react-datepicker-wrapper {
  display: block !important;
}

.react-datepicker__time-container {
  width: 120px !important;

}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
  width: 100% !important;
}


.glass-effect {
  background: radial-gradient(#fff2 30%, #fff4);
  border-radius: 20px;
  box-shadow: 0 0 20px -5px #acacac77;
  backdrop-filter: blur(5px);
  overflow: hidden;
  transition: transform .25s;
}

.header-wrapper {
  height: 85px !important;
  margin-top: 15px;
}